/* * {
    box-sizing: border-box;
} */



html,
body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: bold_titulos;
    src: url('Spotify-Font/GothamBold.ttf');   
}

@font-face {
    font-family: medium_cuerpo;
    src: url('Spotify-Font/GothamMedium.ttf');
}

@font-face {
    font-family: thin_cuerpo;
    src: url('Spotify-Font/Gotham-Thin.otf');
}

@font-face {
    font-family: detalles;
    src: url('Spotify-Font/Gotham-Light.otf');
}

/* header {
    background-color: #ffffff;
    height: 50%;
    display: flex;
    align-items: center;

}

header img {
    max-width: 15%; 
    padding: 2%;
    margin-left: 2%
} */

/* 
nav {
    margin-left: 58%; 
    display: inline-block;
    width: fit-content;
}

nav ul {
    list-style-type: none;
    display: inline-block ;
    width: 100%;

}

nav ul li {
    display: inline;
    margin-right: 2%;
    font-size: 100%;
    font-family: 'detalles';
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    color: green; 
} */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 30%;
    font-size: small;
}


h1, #bajadaGeneral, #tituloG1{
    color: #f0f0f0;
}


#title {
    height: 680px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   
    background-color:#09070a;
    transform-origin: top center;
    transform-style: preserve-3d;
    opacity: 1;
    transition: opacity 0.5s;
    margin-bottom: 0;
    
}


#title h1 {
    font-size: 550%;
    align-items: left;
    margin-left: 5%;
    padding: 0;
    margin-top: 12%;
    width: 50%;
    font-family: 'bold_titulos';

}

#title p{
    font-size: 120%; 
    margin:0;
    margin-left: 5%;
    color:#f0f0f0;
    font-family: 'thin_cuerpo'
}

.parallax img{
    max-width: 40%; 
    height: auto; 
}

.content {
    height: 200vh;
}


#tituloG1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.5s;
  
}

#tituloG1 h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-family: 'bold_titulos'
}

#tituloG1 p{
    color:#f0f0f0;
    margin-top: 8%;
    font-family: 'thin_cuerpo'
}

#tituloG2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.5s;
}

#tituloG2 h2 {
    font-size: 3rem;
    color:#f0f0f0;
    margin: 0;
    padding: 0;
    font-family: 'bold_titulos'
}
#tituloG2 p{
    color:#f0f0f0;
    margin-top: 8%;
    font-family: 'thin_cuerpo'
}

#titulo_cod {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.5s;
}

#titulo_cod h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    font-family: 'bold_titulos'
}

#titulo_cod p{
    color:#f0f0f0;
    margin-top: 8%;
    font-family: 'thin_cuerpo'
}
/* esto no se toca eh */

#scrolly {
    position: relative;
    /* background-color: #f3f3f3; */
    display: flex;
    background-color: white;
    overflow: hidden,
}


#scrolly svg  {
    display: block;
    margin: auto;
    background-color: #fff;
}


.step {
    color: #0f0e0e;
    background-color: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    height: 100vh;
    width: 80%;
    overflow: hidden; /* Agrega esta línea */
    box-sizing: border-box; /* Agrega esta línea */
    background-color: transparent !important;
    margin-top: 24%;
    margin-left:10%;
}


#cover1{
    position: center;
    width: 40%;
    margin-top: 0;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active{
    background-color: rgba(255, 255, 255, 0.1);
    background-color: transparent !important;
    flex-direction: column;
    margin-left:10%;

}
.step.is-active p {
    background-color: transparent;
    color: #000000;
    margin-bottom: 0;
    text-align: center;
    font-family: 'thin_cuerpo';
    font-size: 120%;
}

.step.is-active h3 {
    background-color: transparent;
    color: #000000;
    margin-bottom: 0;
    text-align: center;
    font-family: 'medium_cuerpo';
    font-weight: 10;
}

.step.is-active .cover-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.step progress{
    background-color: #f0f0f0;
}
.step p {
    text-align: center;
    font-size: 180%;
    background-color: #ffffff;
    flex-direction: column;
    font-family: 'thin_cuerpo';
    font-size: 120%;
}

.step h3 {
    text-align: center;
    font-size: 180%;
    background-color: #ffffff;
    font-family: 'medium_cuerpo';
    font-weight: 10;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin-right: 4%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
    z-index: 0;
    height: 100vh;
    top: 0;
    overflow: hidden; /* Agrega esta línea */
    margin-top: 8%;
}

figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    font-family: 'thin_cuerpo';
    color: #fff;
}

.G2 {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
}

#chart2 {
    margin: 0;
    width: 100%;
    margin-bottom: 8%;
    margin-top: 8%;

}

#chart2 svg{
    width: 100%;
    margin:0;
}
.G2 p {
    margin: 0;
    margin-left: 10%;
    order: -1;
    font-family: 'thin_cuerpo'
}


div#slider {
    margin-left: 15%;
}

.logo img {
    margin-left: 15%;
    height: 40%;
    width: 40%;
    vertical-align: middle;
}

.circle {
    width: 400px;
    margin-left: 2%;
    height: 400px;
    background-image: url("opc2.jpeg");
    background-size:cover;
    background-position: center;

    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    overflow: hidden;
    transition: width 0.5s ease, height 0.5s ease;
}

.circle:hover {
    width: 35%;
    height: 60%;
}

.circle::before {
    content: "";
    position: absolute;
    width: 1%;
    height: 40%;
    background-color: white;
    left: calc(50% - 1px);
    top: 30%;
    transform-origin: bottom;
    animation: agujaHoraria 60s linear infinite;
  }

  .circle::after {
    content: "";
    position: absolute;
    width: 0.75%;
    height: 70%;
    background-color: white;
    left: calc(50% - 1px);
    top: 15%;
    transform-origin: bottom;
    animation: agujaMinutera 10s linear infinite;
  }

  @keyframes agujaHoraria {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes agujaMinutera {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }


#codificaciones img#cod{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

#codificaciones img#ref{
    width: 60%;
    margin-left: 20%;
    margin-top: 12%;
}

#barrasVolumen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
  }
  
  .barra {
    width: 10px;
    height: 50px;
    background-color: green;
    margin: 0 2px;
    animation: subirBajar 2.5s infinite;
  }
  .barra1 {
    width: 10px;
    height: 50px;
    background-color: green;
    margin: 0 2px;
    animation: subirBajar 2s infinite;
  }
  .barra2 {
    width: 10px;
    height: 50px;
    background-color: green;
    margin: 0 2px;
    animation: subirBajar 1.85s infinite;
  }
  .barra3 {
    width: 10px;
    height: 50px;
    background-color: green;
    margin: 0 2px;
    animation: subirBajar 1.55s infinite;
  }
  .barra4 {
    width: 10px;
    height: 50px;
    background-color: green;
    margin: 0 2px;
    animation: subirBajar 1.30s infinite;
  }
  
  @keyframes subirBajar {
    0% {
      height: 0;
    }
    50% {
      height: 50px;
    }
    100% {
      height: 0;
    }
  }